<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eVisa Application Test Automation Test Suite">

<!-- Retry Listener -->
<listeners>
	<listener class-name = "com.eVisa.qa.util.MyTransformer"/>
</listeners>

  <test name="eVisa Application Test cases">
  	 <classes>
      <class name="com.eVisa.qa.testcases.HomePageTest"/>
      <class name="com.eVisa.qa.testcases.LoginPageTest"/>
      </classes>
  </test> <!-- Test --> 
   </suite> <!-- Suite --> 